@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark: 0 0% 7%;
	--color-body: 0 0% 98%;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: hsl(var(--color-body));
	background-color: hsl(var(--color-dark));

	/* font-synthesis: none; */
	/* text-rendering: optimizeLegibility; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}

@layer components {
	.primary-btn {
		@apply bg-primary-400 text-dark text-sm px-3 py-1.5 rounded-md ring-1 ring-primary-500 transition-all;

		&.btn-sm {
			@apply px-2.5 py-1;
		}

		&:focus {
			@apply outline-none ring-2 ring-primary-200;
		}

		&:hover {
			@apply bg-primary-500 ring-primary-600;
		}
	}
}
